# Compiler files
cache/
out/
sizes/

# Legacy test files
test-hardhat/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# NodeJS
node_modules/
